@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

h1 {
  font-size: 40px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 400;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: white;
}

.banner-wrap {
  background-image: url(./assets/banner.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  padding: 0 25px;
}

.nav-item {
  padding: 5px 10px;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #ece6e6;
  border-radius: 4px;

}

.logo {
  height: 24px;
  width: 120px;
}

main {
  text-align: center;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;

}
.title-section {
  color: white;
  margin-top: calc(150px - 56px);
}

.title-section a {
  text-decoration: underline;
  color: white;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

button {
  margin: 0px;
  padding: 4px;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0);
  background: none;
  width: 200px;
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.btn-blue {
  background-color: rgb(62, 106, 225);
  color: white;
}
.btn-white {
  background-color: rgb(255, 255, 255);
  color: black;
}

.btn-blue:hover { background-color: #2a52c4; }

.btn-white:hover { background-color: #ece6e6; }

.site-footer {
  padding: 30px 20px;
  background-color: #fff;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  color: #5c5e62;
  font-size: 12px;
  padding: 5px 10px;
  flex-wrap: wrap;
}


/* ===== MODELS SECTION ===== */
.models-section {
  padding: 50px;
}

.models-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.model-card {
  position: relative;
  height: 60vh;
  border-radius: 10px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

h3{
  font-size: 17px;
}

.model-s {
  background-image: url("./assets/model-s.jpeg");
}

.model-3 {
  background-image: url("./assets/model-3.jpeg");
}

.model-x {
  background-image: url("./assets/model-x.jpeg");
}

.model-y {
  background-image: url("./assets/model-y.jpg");
}

.align-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

.align-left p{
 text-decoration: underline;
 font-size: 20px;
}

@media (max-width: 768px) {
  .models-grid {
    grid-template-columns: 1fr;
  }

    nav {
    padding: 0 10px;
  }

  .middle-menu {
    display: none;
  }

  .models-grid {
    grid-template-columns: 1fr;
  }

  .footer-links {
    flex-wrap: wrap;
  }

  button {
    width: 100%;
    max-width: 300px;
  }

  h1 {
    font-size: 32px;
  }
}
